:root {
  --card-width-350px: 40px;
  --card-width-390px: 50px;
  --card-width-600px: 70px;
  --card-width-1200px: 100px;
  --card-width-1600px: 150px;
  --card-height-350px: 60px;
  --card-height-390px: 70px;
  --card-height-600px: 90px;
  --card-height-1200px: 150px;
  --card-height-1600px: 200px;
  --card-gap-350px: 2px;
  --card-gap-390px: 10px;
  --card-gap-450px: 10px;
  --card-gap-600px: 10px;
  --card-gap-1200px: 15px;
  --stock-borderRadius-350px: 5px;
  --stock-borderRadius-900px: 10px;
  --stock-borderRadius-1600px: 10px;
  --minHeight-messageContainer-350px: 50px;
  --minHeight-messageContainer-1600px: 20px;
}

html {
  user-select: none;
  min-height: 100vh;
}

body {
  user-select: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 100vw;
  min-height: 100vh;
  /* box-sizing: border-box; */
  touch-action: manipulation;
  /* background-color: #3b0763; */
  color: white;
  overflow: hidden;
  /* justify-content: center; */
  /* align-items: center; */
  background: url("../assets/shop/fons/fon_4.jpg") no-repeat center center fixed;
  /* background-color: #333;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px,
    transparent 5px
  ); */
}

.full-screen-button {
  position: absolute;
  margin: 10px;
  z-index: 2;
}

.info-container {
  margin-top: 30px;
}

.modal {
  position: fixed;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(161, 13, 13, 0.8);
}

.modal-content {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 125px);
  width: 250px;
  height: 150px;
}

.name-h2 {
  color: #22e44c;
}

input {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  justify-content: center;
}

#message,
.points-game {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: black;
}

#game-container {
  margin: 10px 2px;
  padding: 2px;
  text-align: center;
  /* justify-content: center; */
  min-height: 100vh;
  box-sizing: border-box;
}

.row-1,
.row-2 {
  display: flex;
  justify-content: center;
  gap: var(--card-gap-390px);
  margin: 10px 0px 50px;
  box-sizing: border-box;
}

.row-1 {
  gap: calc(var(--card-width-350px) + var(--card-gap-390px) * 2);
}

.row-a,
.row-b {
  position: relative;
  display: flex;
  justify-content: right;
  gap: var(--card-gap-390px);
}

#controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 50vh;
}

.controls-btn {
  color: black;
}

.stock,
.card-placeholder,
.foundation,
.card {
  width: var(--card-width-350px);
  height: var(--card-height-350px);
  border-radius: var(--stock-borderRadius-350px);
  box-sizing: border-box;
}

.stock {
  position: relative;
  cursor: pointer;
  border: 1px solid black;
}

.card-placeholder,
.foundation {
  position: relative;
  border: 2px dashed rgb(255, 255, 255);
}

.card {
  position: absolute;
  background: white;
  /* background: #475749;
  color: white;
  box-shadow: 0 0 10px rgba(255,255,255,0.1); */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: 4vw; */
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s;
  user-select: none;
  border: 1px solid black;
}

.top-left {
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  left: 5%;
  top: 3%;
}

.center {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30.5px;
}

.bottom-right {
  position: absolute;
  box-sizing: border-box;
  text-align: right;
  right: 5%;
  bottom: 3%;
  transform: rotate(180deg);
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card-faceUp {
  background-color: #a8c5c4;
  background-image: linear-gradient(
    90deg,
    rgba(139, 69, 19, 0.1) 0%,
    transparent 50%,
    rgba(139, 69, 19, 0.1) 100%
  );
  border: 1px solid #8b4513;
  color: #5a3921;
  font-weight: bold;
}

.card-back,
.stock {
  background: repeating-linear-gradient(
    45deg,
    #1a5a1a,
    #1a5a1a 10px,
    #165016 10px,
    #165016 20px
  );
  color: transparent !important;
}

button {
  padding: 6px 8px;
  font-size: 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}

@media (min-width: 350px) {
  .points-game,
  #message {
    padding: 5px;
    margin: 2px;
  }

  #message {
    min-height: var(--minHeight-messageContainer-350px);
  }

  .info-container {
    margin-top: 5px;
  }

  .row-1,
  .row-2 {
    margin: 10px 0px 20px;
  }

  .row-2 {
    gap: var(--card-gap-390px);
  }

  .row-1 {
    gap: calc(var(--card-width-350px) + var(--card-gap-390px) * 2);
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    min-width: var(--card-width-350px);
    min-height: var(--card-height-350px);
  }

  .card-back,
  .stock {
    background: repeating-linear-gradient(
      45deg,
      #1a5a1a,
      #1a5a1a 5px,
      #165016 5px,
      #165016 10px
    );
    color: transparent !important;
  }

  #controls {
    margin-top: 45vh;
  }

  .center {
    font-size: 22px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-390px);
  }
}

@media (min-width: 450px) {
  .row-1,
  .row-2 {
    margin: 10px 0px 30px;
  }

  .row-2 {
    gap: var(--card-gap-450px);
  }

  .row-1 {
    gap: calc(var(--card-width-390px) + var(--card-gap-450px) * 2);
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    width: var(--card-width-390px);
    height: var(--card-height-390px);
  }

  .center {
    font-size: 30px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-450px);
  }

  #controls {
    margin-top: 55vh;
  }
}

@media (min-width: 600px) {
  .row-1,
  .row-2 {
    margin: 10px 0px 30px;
  }

  .row-2 {
    gap: var(--card-gap-600px);
  }

  .row-1 {
    gap: calc(var(--card-width-600px) + var(--card-gap-600px) * 2);
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    min-width: var(--card-width-600px);
    min-height: var(--card-height-600px);
  }

  .center {
    /* margin: 40px 0px 40px; */
    font-size: 48px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-600px);
  }

  #controls {
    margin-top: 55vh;
  }
}

@media (min-width: 900px) {
  #message {
    min-height: var(--minHeight-messageContainer-1600px);
  }
  .row-1,
  .row-2 {
    margin: 10px 0px 30px;
  }

  .row-2 {
    gap: var(--card-gap-1200px);
  }

  .row-1 {
    gap: calc(var(--card-width-1200px) + var(--card-gap-1200px) * 2);
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    min-width: var(--card-width-1200px);
    min-height: var(--card-height-1200px);
    border-radius: var(--stock-borderRadius-900px);
  }

  .card-back,
  .stock {
    background: repeating-linear-gradient(
      45deg,
      #1a5a1a,
      #1a5a1a 10px,
      #165016 10px,
      #165016 20px
    );
    color: transparent !important;
  }

  .card-placeholder,
  .foundation {
    border: 5px dashed rgb(255, 255, 255);
  }

  .card {
    font-size: 18px;
  }

  .center {
    font-size: 90px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-1200px);
  }

  #controls {
    margin-top: 45vh;
  }
}

@media (min-width: 1200px) {
  .info-container {
    margin-top: 10px;
  }

  .row-2 {
    gap: var(--card-gap-1200px);
  }

  .row-1 {
    gap: calc(var(--card-width-1200px) + var(--card-gap-1200px) * 2);
    margin-bottom: 10px;
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    min-width: var(--card-width-1200px);
    min-height: var(--card-height-1200px);
    border-radius: var(--stock-borderRadius-900px);
  }

  .card {
    font-size: 20px;
  }

  .center {
    font-size: 85px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-1200px);
  }

  #controls {
    margin-top: 47vh;
  }
}

@media (min-width: 1600px) {
  #game-container {
    margin-top: 5px;
    /* min-height: 80vh;
    max-height: 85vh; */
  }

  .row-1,
  .row-2 {
    margin: 5px 0px 20px;
  }

  .row-2 {
    gap: var(--card-gap-1200px);
  }

  .row-1 {
    gap: calc(var(--card-width-1600px) + var(--card-gap-1200px) * 2);
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    min-width: var(--card-width-1600px);
    min-height: var(--card-height-1600px);
  }

  .card {
    font-size: 22px;
  }

  .center {
    /* margin: 40px 0px 40px; */
    font-size: 120px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-1200px);
  }

  #controls {
    margin-top: 35vh;
  }
}

@media (min-width: 1900px) {
  .info-container {
    margin-bottom: 15px;
  }

  #game-container {
    margin-top: 5px;
    /* min-height: 80vh;
    max-height: 85vh; */
  }

  .row-1,
  .row-2 {
    margin: 5px 0px 20px;
  }

  .row-2 {
    gap: var(--card-gap-1200px);
  }

  .row-1 {
    gap: calc(var(--card-width-1600px) + var(--card-gap-1200px) * 2);
  }

  .stock,
  .card-placeholder,
  .foundation,
  .card {
    min-width: var(--card-width-1600px);
    min-height: var(--card-height-1600px);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .card {
    font-size: 24px;
  }

  .center {
    font-size: 120px;
  }

  .row-a,
  .row-b {
    gap: var(--card-gap-1200px);
  }

  #controls {
    margin-top: 35vh;
  }
}
